/************All Pages***********/

html{
	/*overflow-x:hidden;*/
}

body{
    margin: 0;
    padding: 0;
	overflow-x: hidden;
}

header h1{
	background-color: white;
	position: fixed;
	width: 600px;
	left: 540px;
	top:-10px;
	font-family: Tahoma, Times, Arial;
	z-index: 3;

}

header h4{
	z-index: 3;
	position: fixed;
	text-align: center;
	left: 475px;
	top: 35px;
	width: 50%;

}
hr{
	z-index: 3;
	position: fixed;
	top: 95px;
	left:268px;
	width: 78.65%;
	height: 2px;
	background-color: black;
}

#wrapper{
	z-index: 3;
	top: -36px;
	height: 0px;
	width: 100%;
	position: fixed;
	background-color: white;
	padding-bottom: 140px;
}

nav{
	z-index: 3;
	left:0px;
	top: 0px;
	height: 100%;
	position: fixed;
	background-color: #291121;
}

nav p{
	position: relative;
	left: 20px;
	color: white;
	font-size: 28px;
}

nav li{
	position: relative;
	left: -25px;
	list-style-type: none;
	margin: 17px 0px;

}

nav li :hover{
	background-color: white;
	border-radius: 10px;
	color: black;
	cursor: pointer;
}

nav a{
	padding: 5px;
	font-size: 20px;
	color: white;
	text-decoration: none;
}

nav a:hover{
	background-color: white;
	border-radius: 10px;
	color: black;
	cursor: pointer;
}

#top-nav{
	position: fixed;
	top: 3px;
	left: 1136px;
	z-index: 3;
}

#register{
	text-decoration:none;
}

#login{
	text-decoration:none;
	font-size:18px;
	margin-left:7px;
}


#dropdown{
	display: none;
	position: relative;
	top: -421px;
	left:180px;
	width: 190px;
	height: 120px;
	background-color:#291121; 
}

#dropdown li{
	position: relative;
	top: 20px;
	margin:5px 0px 4px 0px;
}

#banner{
	position: relative;
	left: 268px;
	top: 110px;
	width: 1062px;
	height:135px;
	-webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

#banner:hover{
	-webkit-transform:scale(1.03); /* Safari and Chrome */
    -moz-transform:scale(1.03); /* Firefox */
    -ms-transform:scale(1.03); /* IE 9 */
    -o-transform:scale(1.03); /* Opera */
    transform:scale(1.03);
}


footer{
	position: relative;
	top: 155px;
	width: 100%;
	height: 100px;
	background-color: lightgray;
}

footer p{
	z-index: 3;
	position: absolute;
	left: 255px;
	top: 65px;
	color: black;
}

#location{
	position: relative;
	font-size: 20px;
	top: 20px;
	left: 900px;
}

/**********Homepage**********/

#welcome{
	position: relative;
	padding: none;
	margin: 0px;
	font-family: Tahoma, Times, Arial;
	font-size: 20px;
	font-weight: bold;
	left: 267px;
	top: 100px;
	width:1050px;
}

#featured{
	font-size: 40px;
	position: relative;
	width: 40%;
	margin: none;
	left: 552px;
	top: 110px;
}
#speaker, #conference-image, #hotel, #calendar, #comment-pic {
	position: relative;
	left: 684px;
	top: 125px;
	height: 340px;
	width: 230px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

#speaker:hover, #conference-image:hover, #hotel:hover, #calendar:hover, #comment-pic:hover{
    -webkit-transform:scale(1.08); /* Safari and Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* IE 9 */
    -o-transform:scale(1.08); /* Opera */
     transform:scale(1.08);
}
#founder{
	position: relative;
	padding: 0px;
	margin: 0px 0px;
	display: block;
	left: 670px;
	top: 135px;
	width: 300px;
	font-weight: bold;
}

/*******Keynote Speakers***********/

#keynote{
	position: relative;
	left: 688px;
	top: 100px;
	font-size: 36px;
	width: 500px;


}

.author{
	position: relative;
	width: 250px;
	height: 250px;
	top: 100px;
	left: 695px;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
  	-moz-transition: all 1s ease; /* Firefox */
  	-o-transition: all 1s ease; /* IE 9 */
  	-ms-transition: all 1s ease; /* Opera */
  	transition: all 1s ease;
}

.author:hover{
    -webkit-transform:scale(1.08); /* Safari and Chrome */
    -moz-transform:scale(1.08); /* Firefox */
    -ms-transform:scale(1.08); /* IE 9 */
    -o-transform:scale(1.08); /* Opera */
     transform:scale(1.08);
}

.title, .biography{
	position: relative;
	font-size: 20px;
	left: 270px;
	top: 100px;
}

.biography{
	font-size: 14px;

}

#widenius{
	height: 350px;
}

/*************About******************/

#about{
	font-size: 32px;
	position: relative;
	top: 130px;
	left: 502px;
	width: 600px;
	
}

#info-wrapper{
	width: 70%;
	height: 380px;
}

#info{
	width: 480px;
	position: relative;
	top: 140px;
	left: 300px;
	font-size: 22px;
}

#conference-image{
	position: relative;
	top: -185px;
	left: 840px; 
	width: 400px;
	height: 300px;
}

/*************Fee******************/

#fee{
	font-size: 32px;
	position: relative;
	top: 120px;
	left: 702px;
	width:300px;
}

#tfee{
	position: relative;
	left: 412px;
	top: 140px;
	font-size: 18px;
}
th, td {
    border: none;

}

table{
    border-spacing: 0;
    border: 1px solid black;
}

th{
	font-size: 30px;
	background-color: #0000ff;
	color: white;
	font-family: Tahoma, Times, Arial;
	border-bottom: 1px solid black
}
td{
	font-size: 24px;
	background-color: #7f7fff;
	padding: 0px 5px;
	width: 250px;
	height: 50px;
	font-family: Tahoma, Times, Arial;
}

/**************Location**************/

#location{
	position: relative;
	top: 105px;
	left: 275px;
}

#location-head{
	position: relative;
	top: 130px;
	left:495px;
	font-size: 32px;
}

#location-wrapper{
	width: 40%;
	height: 0px;
}

#hotel{
	top: 130px;
	left: 850px;
	height: 275px;
	width: 400px;
}

/****************Call For Papers**********/

#call-title{
	position: relative;
	top:130px;
	left: 710px;
	font-size: 32px;
	width: 300px;
}

.call-text{
	position: relative;
	top: 130px;
	left: 275px;
	font-size: 22px;
	width: 1000px;

}

.list{
	position: relative;
	top: 130px;
	left: 260px;
	width: 1000px;

}

.list li{
	font-size:20px;
	list-style-type: square;
}

/****************Important Dates**********/

#important-dates{
	position: relative;
	top:130px;
	left: 710px;
	font-size: 32px;
	width: 300px;
}

#date-list{
	width: 650px;
	height: 1px;
}

#date-list li{
	margin: 5px 0px;
}

#calendar{
	height: 260px;
	width: 260px;
	top: 100px;
	left: 975px;
}

/****************Major Areas**********/

#areas-of-research{
	position: relative;
	margin: 0px;
	width: 300px;
	top:130px;
	left: 685px;
	font-size: 32px;
}

.major-topic{
	position: relative;
	top: 130px;
	left: 298px;
	margin: 0px 45px;


}

.major-topic li{
	font-size: 20px;

}

#topic-wrapper{
	position: relative;
	left: 335px;
	width: 500px;
}

/****************Registration**********/

#registration{
	position: relative;
	margin: 0px;
	width: 300px;
	top:0px;
	left: 260px;
	font-size: 32px;
}

#registration-form{
	background-color: #c5e3ed;
	border: 1px solid black;
	position: relative;
	margin: 0px;
	width: 750px;
	top:120px;
	left: 425px;
 	padding-top: 20px; 
 	border-radius: 5px;
 	box-shadow: 5px 5px 5px #888888;

}

#registration-form input[type=text]{
	position: relative;
	top: 25px;
	left: 20px;
	height: 30px;
	width: 30%;
	padding-left: 5px;

}

#registration-form input[type=text]:focus{
	border-color: black;
}
 
#registration-form label{
	top: 25px;
	left: 15px;
	position: relative;
	display: inline-block;
  	width: 110px;
  	text-align: right;
  	font-size: 16px;
  	font-family: Tahoma, Times, Arial;
}
#registration-form input[type=radio]{
	position: relative;
	left: 280px;
	top: -28px;
	height: 30px;

}

#registration-form input[type=submit]{
	position: relative;
	left: 341px;
	top: -15px;
	height: 30px;
	width: 100px;
	background-color: #9bc2cf;
	border: 1px solid black;
	cursor: pointer;
	font-weight: bold;

}
#registration-form input[type=submit]:hover{
	background-color: #67818a;

}

#registration-form h3{
	position: relative;
	left: 340px;
	font-family: Tahoma, Times, Arial;
	width: 150px;

}


#payment-form{
	background-color: #c5e3ed;
	border: 1px solid black;
	position: relative;
	margin: 0px;
	width: 550px;
	height: 400px;
	top:120px;
	left: 530px;
 	padding-top: 20px; 
 	border-radius: 5px;
 	box-shadow: 5px 5px 5px #888888;

}

#payment-form label{
	top: -44px;
	left: 20px;
	position: relative;
	display: block;
  	width: 180px;
  	font-size: 20px;
  	font-family: Tahoma, Times, Arial;
	margin: 8px 0px;
}

#payment-title{

	position: relative;
	margin: 0px;
	width: 300px;
	top:0px;
	left: 140px;
	font-size: 32px;
}
#payment-form input[type=text]{
	position: relative;
	top: -45px;
	left: 20px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}
#payment-form select{
	position: relative;
	top: -45px;
	left: 20px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}

#payment-form input[type=text]:focus{
	border-color: black;
}

#payment-form input[type=submit]{
	position: relative;
	left: 230px;
	top: -50px;
	height: 30px;
	width: 100px;
	background-color: #9bc2cf;
	border: 1px solid black;
	cursor: pointer;
	font-weight: bold;
}

#upload-form input[type=text]{
	position: relative;
	top: 20px;
	left: 120px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}

#papert{
	position: relative;
	left: 125px !important;
}

#upload-form input[type=text]:focus{
	border-color: black;
}

#upload-form input[type=submit]{
	position: relative;
	left: 215px;
	top: 30px;
	height: 30px;
	width: 100px;
	background-color: #9bc2cf;
	border: 1px solid black;
	cursor: pointer;
	font-weight: bold;
}

#upload-form{
	background-color: #c5e3ed;
	border: 1px solid black;
	position: relative;
	margin: 0px;
	width: 520px;
	height: 400px;
	top:120px;
	left: 540px;
 	padding-top: 20px; 
 	border-radius: 5px;
 	box-shadow: 5px 5px 5px #888888;

}

#upload-form select{
	position: relative;
	top: 20px;
	left: 125px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}

#upload-form [type=file]{
	position: relative;
	top: 20px;
	left: 160px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}

#upload-form label{
	top: 20px;
	left: 170px;
	position: relative;
	display: block;
	text-align: center;
  	width: 180px;
  	font-size: 20px;
  	font-family: Tahoma, Times, Arial;
	margin: 8px 0px;
}

#thankyou{
	position: relative;
	top: 160px;
	left: 58px;
	font-size: 32px;
}

.radio-label{
	position: relative;
	top: -39px !important;
	left: 145px !important;
}

/****************Program**********/

#program{
	position: relative;
	margin: 0px;
	width: 300px;
	top:130px;
	left: 685px;
	font-size: 32px;
}

.date{

	position: relative;
	margin: 0px;
	width: 300px;
	top:160px;
	left: 274px;
}

.event-list{

	position: relative;
	top:160px;
	left: 235px;
	list-style: none;
	width: 320px;
}

.event-list li{
	margin: 10px 0px;
	font-size: 16.5px;
	width: 360px;
}

.list-wrap{
	display: inline-block;
	margin: 0px;
}
/*******************Guidelines**************/

#guide{
	position: relative;
	margin: 0px;
	width: 300px;
	top:130px;
	left: 665px;
	font-size: 32px;
}
 .computer{
 	position: relative;
 	left: 315px;
 	margin: 0px 40px;
 	top: 150px;
 	width: 250px;
 	height: 250px
 }

/*******************Comments**************/

#comments{
	position: relative;
	margin: 0px;
	width: 300px;
	top:130px;
	left:268px;
	font-size: 32px;
}

#comment-form{
	position: relative;
	margin: 0px;
	width: 300px;
	top:130px;
	left:268px;

}

#comment-form input[type=submit]{
	height: 30px;
	width: 100px;
}

#comment-pic{
	width: 550px;
	height: 250px;
	position: absolute;
	top:275px;
	left:740px;
}
#feedback{
	position: relative;
	top: 192px;
	left: 268px; 
	font-size: 31px;
}

/*******************Shop**************/

#store-header{
	position: relative;
	left: 660px;
	top: 90px;
}
#cart-header{
	position: relative;
	left: 710px;
	top: 90px;
}

#empty{
	position: relative;
	left: 717px;
	top: 110px;
}
.added{
	position: relative;
	left: 630px;
	top: 80px;
}
#continue{
	position: relative;
	left: 745px;
	top: 72px;
	
}
#checkout-continue{
	position: relative;
	left: 356px;
	
}

#cart{
	position: relative;
	left: 1160px;
	top: 50px;
	height: 50px;
	width:50;
}

.items{
	position:relative;
	left: 680px;
	top: 50px;
}

.book{
	width: 150px;
	height: 250px;
}

.items table{
	border: none;
}

.items td{
	height: 300px;
	background-color: lightblue;
	
}


#shopping-cart{
	position: relative;
	left: 655px;
	top: 110px;
	width: 320px;
}

#shopping-cart td{
	font-size: 22px;
}

#clear{
	position: relative;
	left:637px;
	top: 105px;
}
#total{
	position: relative;
	left: 670px;
	top: 110px;
	font-size:32px;
}

#check-form{
	background-color: #c5e3ed;
	border: 1px solid black;
	position: relative;
	margin: 0px;
	width: 550px;
	height: 400px;
	top:120px;
	left: 530px;
 	padding-top: 20px; 
 	border-radius: 5px;
 	box-shadow: 5px 5px 5px #888888;
}
#check-form label{
	top: -82px;
	left: 20px;
	position: relative;
	display: block;
  	width: 180px;
  	font-size: 20px;
  	font-family: Tahoma, Times, Arial;
	margin: 8px 0px;
}

#check-form input[type=text]{
	position: relative;
	top: -82px;
	left: 20px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}
#check-form select{
	position: relative;
	top: -82px;
	left: 20px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}

#check-form input[type=text]:focus{
	border-color: black;
}

#check-form input[type=submit]{
	position: relative;
	left: 230px;
	top: -60px;
	height: 30px;
	width: 100px;
	background-color: #9bc2cf;
	border: 1px solid black;
	cursor: pointer;
	font-weight: bold;
}

#shop_checkout{
	position: fixed;
	left: 1160px;
	top: 270px;
	font-size:26px;
	padding: 2px 6px;
	border-radius:5px;
	cursor:pointer;

}

/**************Manager**************/

#manage-header{
	position: relative;
	left: 610px;
	top: 90px;
}

.manager{
	position: relative;
	left: 440px;
	top: 90px;
	height: 143px;

}

.manager td{
	width: 750px;
	background-color: white;
	font-size:20px;

}

.manager input{
	float: right;

}

#management a{
	position: relative;
	top: 140px;
	left:1160px;
	background-color: #291121;
	color: white;
	padding: 10px;
	text-decoration: none;
	font-weight: bold;
	border-radius: 6px;
	position: relative;
}

/********************Login*******************/

#review-title{

	position: relative;
	margin: 0px;
	width: 300px;
	top:0px;
	left: 70px;
	font-size: 32px;
}

#login-form{
	background-color: #c5e3ed;
	border: 1px solid black;
	position: relative;
	margin: 0px;
	width: 350px;
	height: 300px;
	top:120px;
	left: 630px;
 	padding-top: 20px; 
 	border-radius: 5px;
 	box-shadow: 5px 5px 5px #888888;
}
#login-form label{
	top: 10px;
	left: 85px;
	position: relative;
	display: block;
  	width: 180px;
  	font-size: 20px;
  	font-family: Tahoma, Times, Arial;
	margin: 8px 0px;
	text-align: center;
}

#login-form input[type=text]{
	position: relative;
	top: 20px;
	left: 75px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}

#login-form input[type=password]{
	position: relative;
	top: 20px;
	left: 75px;
	height: 30px;
	width: 50%;
	padding-left: 5px;

}

#login-form input[type=text]:focus{
	border-color: black;
}

#login-form input[type=submit]{
	position: relative;
	left: -75px;
	top: 75px;
	height: 30px;
	width: 100px;
	background-color: #9bc2cf;
	border: 1px solid black;
	cursor: pointer;
	font-weight: bold;
}

/*******Reviewers***********/

#reviewer-title{
		position: relative;
		margin: 0px;
		width: 800px;
		top:130px;
		left: 560px;

}

#reviewer-text{
		position: relative;
		margin: 0px;
		width: 800px;
		top:150px;
		left: 613px;
}